<div class="container footer">
    <div class="row">
        <div class="col">
            <img class="mx-auto d-block" src="https://worldflagcounter.com/hEp/?{{ site.time | date: "%s" }}" alt="Flag Counter">
        </div>
    </div>
</div>
<div class="container foot-buffer">&nbsp;</div>

<div class="container-fluid sponsor-strip">
    <div class="container sponsor-strip">
        <div class="row">
            <div class="col">
                <a href="http://minro.org/" target="_blank"><img class="sponsor-image" src="{{ site.baseurl }}/images/sponsor/small/MINRO-Ribbon-moderated.png?{{ site.time | date: "%s" }}" alt="MINRO"></a>
            </div>
        </div>
    </div>
</div>

<!-- <div class="image-viewer">
    <img class="align-middle" src="{{ site.baseurl }}/images/sponsor/orig/minro.jpg?{{ site.time | date: "%s" }}">
</div> -->