<div class="container footer">
    <div class="row">
        <div class="col">
            <img class="mx-auto d-block" src="https://worldflagcounter.com/hEp/?{{ site.time | date: "%s" }}" alt="Flag Counter">
        </div>
    </div>
</div>
<div class="container foot-buffer">&nbsp;</div>

<div class="container-fluid sponsor-strip">
    <div class="row">
        <div class="col">
            <img class="sponsor-image" src="{{ site.baseurl }}/images/sponsor/small/minro.jpg?{{ site.time | date: "%s" }}" alt="Flag Counter">
        </div>
    </div>
</div>