<!-- Footer -->
		<section id="footer" class="wrapper style3">
			<div class="title">Sponsors</div>

			<div class="container">
				<header class="style1">
					<div class="row">
						
						<!-- In cooperation With -->
						<div class="col-12-small col-3">
						    <a href="http://meity.gov.in/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_meity.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://www.acm.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_acm.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://sigmod.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_sigai.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://www.kdd.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_kdd.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://sigmod.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_sigmod.png" class="img-fluid" width="360"></a>
						</div>
						
						<!--
						<div class="col-12-small col-3">
						    <a href="https://sigai.acm.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_sigai.png" class="img-fluid" width="360"></a>
						</div>-->
						
						
						<!-- Sponsors -->	
						<!-- GOLD SPONSOR
						<div class="col-12-small col-3">
						    <a href="https://www.iiitb.ac.in/machine-intelligence-and-robotics-center" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_minro.png" class="img-fluid" width="360"></a>
						</div>
						
						<div>SILVER SPONSOR</div>
						<div class="col-12-small col-3">
						    <a href="https://www.amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_amazon.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="http://ramkumarfoundation.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_profr.png" class="img-fluid" width="360"></a>
						</div>
						
						<div>TECHNICAL PARTNER</div>
						<div class="col-12-small col-3">
						    <a href="https://tsdsi.in/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_tsdsi.png" class="img-fluid" width="360"></a>
						</div>
						-->
						
					</div>

				</header>
				
				<ul class="copyright">
					<li>Last updated: June 2021</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					<li>Logo: <a href="https://www.squarespace.com/logo">Squarespace</a></li>
				</ul>

			</div>
		</section>
