<!-- Footer -->
		<section id="footer" class="wrapper style3">
			<div class="title">Patrons</div>

			<div class="container">
				<header class="style1">
					<div class="row sponsor">
						
						<!-- In cooperation With -->
						<!-- <div class="col-12-small col-3">
						    <a href="http://meity.gov.in/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_meity.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://www.acm.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_acm.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://sigmod.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_sigai.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://www.kdd.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_kdd.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="https://sigmod.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_sigmod.png" class="img-fluid" width="360"></a>
						</div> -->
						
						<!--
						<div class="col-12-small col-3">
						    <a href="https://sigai.acm.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_sigai.png" class="img-fluid" width="360"></a>
						</div>-->
						
						
						<!--
						
						<div>SILVER SPONSOR</div>
						<div class="col-12-small col-3">
						    <a href="https://www.amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_amazon.png" class="img-fluid" width="360"></a>
						</div>
						<div class="col-12-small col-3">
						    <a href="http://ramkumarfoundation.org/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_profr.png" class="img-fluid" width="360"></a>
						</div>
						
						<div>TECHNICAL PARTNER</div>
						<div class="col-12-small col-3">
						    <a href="https://tsdsi.in/" target="_blank"><img src="{{ site.baseurl }}/images/head_img/l_tsdsi.png" class="img-fluid" width="360"></a>
						</div>
						-->
						<div class="off-0-small off-1 col-12-small col-3">
							<div class="nt-spon-title">Platinum Sponsor</div>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<span class="valign-img"></span><a href="https://www.iiitb.ac.in/machine-intelligence-and-robotics-center" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/minro-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>
						<div class="col-12-small col-4">
							<div class="nt-spon-title">Silver Sponsors</div>
							<div class="row">
								<div class="col-9">
									<span class="valign-img"></span><a href="https://amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
								<div class="col-3 nopad">
									<span class="valign-img"></span><a href="http://ramkumarfoundation.org/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/prkmf204-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>
						<div class="col-12-small col-3">
							<div class="nt-spon-title">Technical Partner</div>
							<div class="row">
								<div class="off-1h-small col-12 col-9-small">
									<a href="https://tsdsi.in/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/tsdsi-r.png" class="img-fluid" style="max-height: 120px;"></a>
								</div>
							</div>
						</div>
						
						<!-- Sponsors -->	
						<!-- <div class="off-1 off-0-small col-1 col-2-small">
							<img src="{{ site.baseurl }}/images/sponsor/small/platinum.png" class="img-fluid">
						</div>
						<div class="off-1-small col-8-small col-2 ">
						    <span class="valign-img"></span><a href="https://www.iiitb.ac.in/machine-intelligence-and-robotics-center" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/minro-r.png" class="img-fluid" style="max-height: 120px;"></a>
						</div>
						<div class="col-1 col-2-small">
							<img src="{{ site.baseurl }}/images/sponsor/small/gold.png" class="img-fluid">
						</div>
						<div class="col-7-small col-2">
						    <span class="valign-img"></span><a href="https://www.iiitb.ac.in/machine-intelligence-and-robotics-center" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo-r.png" class="img-fluid" style="max-height: 120px;"></a>
						</div>
						<div class="col-3-small col-1">
						    <span class="valign-img"></span><a href="https://www.iiitb.ac.in/machine-intelligence-and-robotics-center" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/prkmf204-r.png" class="img-fluid" style="max-height: 120px;"></a>
						</div>
						<div class="col-1 col-2-small">
							<img src="{{ site.baseurl }}/images/sponsor/small/technical.png" class="img-fluid">
						</div>
						<div class="col-10-small col-2">
						    <span class="valign-img"></span><a href="https://www.iiitb.ac.in/machine-intelligence-and-robotics-center" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/tsdsi-r.png" class="img-fluid" style="max-height: 120px;"></a>
						</div> -->
					</div>

				</header>
				
				<ul class="copyright">
					<li>Last updated: June 2021</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					<li>Logo: <a href="https://www.squarespace.com/logo">Squarespace</a></li>
				</ul>

			</div>
		</section>
