
	<title>{% if page.title != "Home" %} {{ page.title }} | {% endif %} {{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="AIMLSystems is a brand new conference targeting research in the intersection of AI/ML techniques and systems engineering. Through this conference we plan to bring out and highlight the natural connections with these two fields. Specifically we explore how immense strides in AI/ML techniques are made possible through computational systems research (e.g., improvements in CPU/GPU architectures, data-intensive infrastructure, communications etc.), how the use of AI/ML can help in the continuous and workload-driven design space exploration of computational systems (e.g., self-tuning databases, learning compiler optimizers, learnable network systems etc.) and, the use of AI/ML in the design of socio-economic systems such as public healthcare, and security."/>

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css?{{ site.time | date: "%s" }}" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/addfeature.css?{{ site.time | date: "%s" }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-PCLM32FXHX"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  
	  gtag('config', 'G-PCLM32FXHX');
	</script>
