<div class="container webtopbar text-left">
    <div class="row">
        <div class="col">
            &nbsp;<br>
            <!-- <a href="https://www.comsnets.org/" target="_blank">COMSNETS</a> |
            <a href="http://www.comsnets-association.org/" target="_blank">COMSNETS Association</a> -->
        </div>
    </div>
</div>
<div class="container topbanner">
    <div class="row">
        <div class="col text-center">
            <h2 class="conf-title">The First International Conference on AI &amp; ML Systems</h2>
            <h4>An Initiative by COMSNETS Association</h4>
            <h5><span title="Physical conference with option to join virtually">(Hybrid Conference)</span></h5>
            <h5>2 – 4 September 2021</h5>
            <h5>Chancery Pavilion Hotel, Bangalore, India</h5>
        </div>
    </div>
</div>