<div class="container webtopbar text-left">
    <div class="row">
        <div class="col">
            <a href="https://www.comsnets.org/" target="_blank">COMSNETS</a> |
            <a href="http://www.comsnets-association.org/" target="_blank">COMSNETS Association</a>
        </div>
    </div>
</div>
<div class="container topbanner">
    <div class="row">
        <div class="col text-center">
            <h2 class="conf-title">The First International Conference on AI &amp; ML Systems</h2>
            <h3>An Initiative by</h3>
            <h3>COMSNETS Association</h3>
            <h5><span title="Physical conference with option to join virtually">(Hybrid Conference)</span></h5>
            <h5>
                2 – 4 September 2021
                // Chancery Pavilion Hotel, Bangalore, India
            </h5>
        </div>
    </div>
</div>

<div class="container p-0 menubar">
    <nav class="navbar navbar-expand-md  p-0">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                <li class="nav-item fs-6 border-end border-white p-0 m-0">
                    <a class="d-block nav-link px-3 py-0{% if page.title == "Home" %} active{% endif %}" aria-current="page" href="{{ site.baseurl }}/"><i class="bi bi-house-fill"></i></a>
                </li>
                <li class="nav-item dropdown fs-6 border-end border-white  p-0 m-0">
                    <a class="d-block nav-link dropdown-toggle px-3 py-0{% if page.layout == "page" and page.menutype == "committee" %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Committee
                    </a>
                    {% assign pages_list = site.pages %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCommittee">
                        {% for node in pages_list %}
                          {% if node.title != null %}
                            {% if node.layout == "page" and node.menutype == "committee" %}
                              <li>
                                  <a class="d-block dropdown-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url }}"><h5 class="m-0 p-0">{{ node.menutitle | default: node.title }}</h5></a>
                              </li>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <!-- <li class="nav-item fs-6 border-end border-white p-0 m-0">
                    <a class="nav-link px-3 py-0" href="#">Link</a>
                </li>
                <li class="nav-item dropdown fs-6 border-end border-white  p-0 m-0">
                    <a class="nav-link dropdown-toggle px-3  py-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item fs-6 border-end border-white  p-0 m-0">
                    <a class="nav-link disabled px-3 py-0" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
            <form class="d-md-flex me-2 rounded d-none d-md-none" style="background-color: white;">
                <input class="form-control me-2 border-0" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </nav>
</div>