<div class=" p-0 menubar">
    <div class="container">
        <nav class="navbar navbar-expand-md  p-0">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                    <li class="nav-item fs-6 border-end border-white p-0 m-0">
                        <a class="d-block nav-link px-3 py-0{% if page.title == "Home" %} active{% endif %}" aria-current="page" href="{{ site.baseurl }}/index2/"><i class="bi bi-house-fill"></i></a>
                    </li>
                    {% assign pages_list = site.wpages %}
                    <li class="nav-item dropdown fs-6 border-end border-white  p-0 m-0">
                        <a class="d-block nav-link dropdown-toggle px-3 py-0{% if page.layout == "page" and page.menutype == "committee" %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Committee
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownCommittee">
                            {% for node in pages_list %}
                            {% if node.title != null and node.layout == "page" and node.menutype == "committee" %}
                            <li>
                                <a class="d-block dropdown-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}"><h5 class="m-0 p-0">{{ node.menutitle | default: node.title }}</h5></a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown fs-6 border-end border-white  p-0 m-0">
                        <a class="d-block nav-link dropdown-toggle px-3 py-0{% if page.layout == "page" and page.menutype == "main-conf" %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Main Conference
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMainConf">
                            {% for node in pages_list %}
                            {% if node.title != null and node.layout == "page" and node.menutype == "main-conf" %}
                            <li>
                                <a class="d-block dropdown-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}"><h5 class="m-0 p-0">{{ node.menutitle | default: node.title }}</h5></a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>


                    <li class="nav-item dropdown fs-6 border-end border-white  p-0 m-0">
                        <a class="d-block nav-link dropdown-toggle px-3 py-0{% if page.layout == "page" and page.menutype == "auth" %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Authors
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMainConf">
                            {% for node in pages_list %}
                            {% if node.title != null and node.layout == "page" and node.menutype == "auth" %}
                            <li>
                                <a class="d-block dropdown-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}"><h5 class="m-0 p-0">{{ node.menutitle | default: node.title }}</h5></a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="nav-item fs-6 border-end border-white p-0 m-0">
                        <a class="d-block nav-link px-3 py-0" href="{{ site.baseurl }}/contacts">Contact Us</a>
                    </li>

                </ul>
                <form class="d-md-flex me-2 rounded bg-light" >
                    <input class="form-control me-2 border-0 "  placeholder="Search" aria-label="Search" id="menusearch" type="text" autocomplete="off">
                    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </nav>
    </div>
</div>
<script type="text/javascript">
{% assign menucounter = 0 %}
const MenuItems = [
    { value: {% increment menucounterpp %}, label: "Home", link: "{{ site.baseurl }}/index2/"},
    {% for node in pages_list %}
    {% if node.title != null and node.layout == "page" %}
    { value: {% increment menucounterpp %}, label: "{{ node.menutitle | default: node.title }}", link: "{{ site.baseurl }}{{ node.url }}" },
    {% endif %}
    {% endfor %}
]
const x = new Autocomplete(document.getElementById('menusearch'), {
    data: MenuItems,
    treshold: 1,
    onSelectItem: ({value, label}) => {
        MenuItems.forEach((e, i) => {
            if(value == e.value){
                console.log(e)
                window.location.href = e.link
            }
        })
    }
});
</script>