
<div id="20211024" class="tabcontent">
  <h1 class="text-center sc-header sc-color-3 text-underline">Sunday, 24 October 2021</h1>
  <h1 class="text-center sc-header sc-color-3">All Timings are in IST</h1>

  <table class="conf-schedule">
    <tbody>
      <tr>
        <td>
          <h1>ALMLSystems&rsquo;21 TUTORIALS</h1>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <h1>Tutorial # 1: 10:00 AM &ndash; 1:00 PM</h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Break</h1>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Tutorial # 2: 5:00 PM &ndash; 8:00 PM</h1>
        </td>
      </tr>
      <tr>
        <td class="sc-color-2">
          <h1>Conference Closure</h1>
        </td>
      </tr>
    </tbody>
  </table>
</div>
