<!-- <div class="row mb-1">
    <div class="col-12">
        <img class="mx-auto d-block img-fluid" src="https://worldflagcounter.com/hGl/?{{ site.time | date: "%s" }}" alt="Flag Counter">
    </div>
</div> -->
<div class="row sponsors">
    <div class="col-12 text-center">
        <h5>Gold Sponsor</h5>
        <a href="http://minro.org/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/MINRO-Banner-cr.jpg?{{ site.time | date: "%s" }}  " alt="MINRO"></a>
    </div>
    <hr>
    <div class="col-12 text-center">
        <h5>Silver Sponsor</h5>
        <a href="https://ramkumar.agrawal-family.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/prkmf204.png?{{ site.time | date: "%s" }}" alt="Prof. Ram Kumar"></a>
    </div>
</div>

