<div class="row mb-1">
    <div class="col-12">
        <a href="https://worldflagcounter.com/details/hGl" target="_blank"><img class="mx-auto d-block img-fluid" src="https://worldflagcounter.com/hGl/?{{ site.time | date: "%s" }}" alt="Flag Counter"></a>
    </div>
</div>
<div class="row sponsors">
    <hr>
    <br>
    <h4 class="text-center">Sponsors</h4>
    <hr>
    <div class="col-12 text-center">
        <h5>Gold Sponsor</h5>
        <a href="http://minro.org/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/minro.png?{{ site.time | date: "%s" }}" style="max-width: 70%;" alt="MINRO"></a>
    </div>
    <hr>
    <div class="col-12 text-center">
        <h5>Silver Sponsor</h5>
        <a href="http://amazon.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/amazon_logo.png?{{ site.time | date: "%s" }}" style="max-width: 70%;" alt="Amazon"></a>
        <br>
        <a href="http://ramkumarfoundation.org/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/prkmf204.png?{{ site.time | date: "%s" }}" alt="Prof. Ram Kumar"></a>
    </div>
    <hr>
    <div class="col-12 text-center">
        <h5>Technical Partner</h5>
        <a href="https://tsdsi.in/" target="_blank"><img src="{{ site.baseurl }}/images/sponsor/small/tsdsi.png?{{ site.time | date: "%s" }}" style="max-width: 70%;" alt="TSDSI"></a>
    </div>
</div>

