<div class="row">
    <div class="col-12 text-center">
        <h5>Gold Sponsor</h5>
        <a href="http://minro.org/" target="_blank"><img class="sponsor-image" src="{{ site.baseurl }}/images/sponsor/small/minro.jpg?{{ site.time | date: "%s" }}  " alt="MINRO"></a>
    </div>
    <hr>
    <div class="col-12 text-center">
        <h5>Silver Sponsor</h5>
        <a href="https://ramkumar.agrawal-family.com/" target="_blank"><img class="sponsor-image" src="{{ site.baseurl }}/images/sponsor/small/prkmf204.png?{{ site.time | date: "%s" }}" alt="Prof. Ram Kumar"></a>
    </div>
</div>