.webtopbar{
    line-height: 2.3rem;
    background-color: transparent !important;
    color: white;
}

.webtopbar a {
    color: white;
    text-decoration: none;
}
.webtopbar a:hover {
    color: rgb(243, 243, 243);
    text-decoration: underline;
}

.container{
    background-color: white;
}

body, html{
    height: 100%;
}
body{
    background-color: aliceblue;
    font-family: "Oswald",Arial,sans-serif;
    background-image:  linear-gradient(180deg, rgb(102, 102, 102), rgb(192, 192, 192));
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.topbanner{
}

.conf-title{
    font-weight: 700;
}

.menubar{
    background-color: #404041;
    color: white;
    text-transform: uppercase;
}
.menubar ul{
    font-size: 0;
}
.menubar li{
    list-style: none;
    list-style-position: inside;
    list-style-type: none;
    display: inline-block;
}

.menubar a{
    margin: 0;
    background-color: #005f98;
    color: white;
    text-decoration: none;
    line-height: 3rem;
    display: inline-block;
}

.menubar a.active, .menubar a:hover{
    background-color: #00aeef;
}

.primary-container {
    background-image: url(../img/body-bg-top-s.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.primary-container .primary-container-row {
    
    background-image: url(../img/body-bg-rt-s-bw.png);
    background-position: 100% 0%;
    background-repeat: repeat-y;
    margin-left: 0;
    margin-right: 0;
}

.primary-container .primary-container-col {
    background-image: url(../img/body-bg-lt-s.png);
    background-position: 0% 0%;
    background-repeat: repeat-y;
    padding-left: 61px;
    padding-right: 0px;
    /* padding-top: 90px !important; */
}

.primary-container .primary-container-col .carousel {
    margin-left: -61px;
}

.primary-container .primary-container-col .carousel img {
    width: 100%;
}

.primary-container>.primary-container-row>.primary-container-col>.col>h1 {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    letter-spacing: 1px;
    background-color: #404041;
    color: #ffffff;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 12px;
    line-height: 1;
    border: none;
    margin-left: -61px;
}