---
layout: default
---


<div class="container p-0 primary-container">
    <div class="row m-0">
        <div class="col p-0">
            <div class="row primary-container-row">
                <div class="primary-container-col">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-pause=false>
                        <div class="carousel-indicators">
                            {% for img in site.data.home_slide %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.index0 }}"{% if forloop.first == true %} class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.index }}"></button>
                            {% endfor %}
                            <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
                        </div>
                        <div class="carousel-inner">
                            {% for img in site.data.home_slide %}
                            <div class="carousel-item{% if forloop.first == true %} active{% endif %}" data-bs-interval="3000" >
                                <div class="row">
                                    <!-- <div class="blurred-bg" style="background-image: url({{ site.baseurl }}/images/home_banner/{{ img }});"></div> -->
                                    <div class="blurred-bg"></div>
                                    <div class="col nonblurred-bg text-center">
                                        <img src="{{ site.baseurl }}/images/home_banner/{{ img }}" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="col">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
