---
layout: default
---
<div class="container p-0 primary-container">
    <div class="row m-0">
        <div class="col-9 p-0 pe-1 pt-1">
            <div class="row primary-container-row">
                <div class="primary-container-col">
                    <div class="col">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 p-0 ps-1">
            <div>
                Hellow
            </div>
        </div>
    </div>
</div>
