<!DOCTYPE html>
<html lang="{{ site.locale }}">

{% include head_redir.html %}

<body>
    {% include header.html %}
    {% include menu.html %}
    <div class="container p-0 primary-container">
        <div class="row primary-container-row">
            <div class="primary-container-col">
                <div class="col">
                    This page should redirected to <a href="{{page.redirect}}">{{page.redirect}}</a>. <br><a href="{{page.redirect}}"> Click Here </a> if not.
                </div>
            </div>
        </div>
    </div>
    
    {% include footer.html %}
</body>
</html>